<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="stylesheet"
          href="C:\Users\Stryker\Desktop\1.års.erhversprojekt\src\main\resources\static\style.css"
          th:href="@{style.css}" />
</head>
<body>
<h1>Login</h1>

<h2 style="color: #fff;">Log på</h2>
<form method="POST" action="/login">
    <input type="text" name="username" value="admin"/>
    <input type="password" name="password" value="admin"/>
    <input type="submit"  value="login"/>
</form>

</body>
</html>