<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="" th:href="@{style.css}"/>
    <title>Login page</title>
</head>
<body>
<div th:replace="fragments/menubar::menubar"/>

<form method="POST" action="/login">
    <input type="text" name="username" value="admin"/>
    <input type="password" name="password" value="admin"/>
    <input type="submit"  value="login" class="btn-primary"/>
</form>

</body>
</html>